<%= form_with(model: [post, post.comments.build]) do |f| %>
<div class="form_control">
<%= f.rich_text_area :body %>
<%= f.submit "Reply", class: "btn btn-primary mt-1" %>
<%= render 'comments/form', post: @post %>

</div>
<% end %>