<div class="container">
<div class="jumbotron">
    <h1>My personal images</h1>
    <p>Check out this pictures</p>
    <a href="/about"></a>
    <%= link_to "About me, Myself, and I", about_path%>
</div>
</div>