<div id="<%= dom_id feature %>">

<div class="container">
  <p>
    <strong>Text:</strong>
    <%= feature.text %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= feature.body %>
  </p>
</div>
</div>
